body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 배경이미지 */
img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;             /* 중앙정렬 */
  left: 50%;            /* 중앙정렬 */
  transform: translate(-50%, -50%);   /* 중앙정렬 */
  z-index: -2;
}

/* 배경 검은 투명 */
.bgCover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* 시계 */
#clock {
  font-size: 130px;
  margin-top: 180px;
  margin-bottom: 20px;
  color: rgb(106, 174, 146);
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

/* center Container */
.Container {
  text-align: center;
}

/* greeting 부분 */
.hidden {
  display: none;
}

/* 로그인 input */
#login-form input {
  width:200px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  border: none;                         /* 테두리 삭제 */
  border-bottom: 1.5px solid white;   /* 밑줄만 생성 */
  background: transparent;              /* 배경 투명하게 */
  outline: none;                        /* 클릭시 생기는 외곽선 삭제 */
}

#login-form input::placeholder {
  font-size: 20px;
  color: white;
}

/* 로그인 버튼 */
.button-style {
  width: 60px;
  height: 30px;
  background-color: darkseagreen;
  margin-left: 10px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px whitesmoke;
  cursor: pointer;
}

.button-style:focus {
  outline: 0;
}

.button-style:hover {
  background-color: olivedrab;
  box-shadow: 0 2px 4px rgba(150, 150, 150, 0.7);
  transition: .2s;
}

h1 {
  color: aquamarine;
}

/* todo */
#todo-form input {
  width:300px;
  height: 30px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  border: none;                         /* 테두리 삭제 */
  border-bottom: 1.5px solid white;   /* 밑줄만 생성 */
  background: transparent;              /* 배경 투명하게 */
  outline: none;                        /* 클릭시 생기는 외곽선 삭제 */
}

#todo-form input::placeholder {
  font-size: 17px;
  color: white;
}

/* 명언 */
#quote {
  position: relative;
  top: 230px;
}

#quote span:nth-child(1) {
  color: white;
}

#quote span:nth-child(2) {
  color: white;
}
