body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color .5s ease-in-out;
}

.active {             /* 이 class를 어떤 element에 지정해주면 */
  color:tomato;     /* 어떤 element든 tomato색을 가지게 됨 */
}